* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    overflow-x: hidden;
    word-wrap: break-word;
}

.nav-text-style {
    color: white !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

}

.nav-text-style:hover {
    color: #00ffd5e3 !important;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1, 1.1) !important;
}

.nav-btn-style {
    padding: 0.7rem 3rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
    transition: all 0.3s ease-in-out;


}

.nav-btn-style:hover {
    background-color: #00ffd5e3;
    color: #000;
    border: 1px solid #00ffd5e3;
    transition: all 0.3s ease-in-out;
}

.head-title {
    display: none;
}

.center-image img {
    max-width: 200px;
    height: auto;
}

.about-hero-image {
    background-image: url('./Image/hero-04.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 15rem 0rem;
}

.about-hero-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.about-hero-image>* {
    position: relative;
    z-index: 2;
}

.font-style {
    font-family: "Alex Brush", handwriting !important;
    font-size: 6vw !important;
    color: #fff !important;
}

.hero-btn {
    padding: 0.8rem 3rem;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    border-style: none;
    border: 1px solid #fff;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.hero-btn:hover {
    background-color: #00ffd5e3;
    color: black;
    border: 1px solid #00ffd5e3;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.font-size {
    font-size: 4vw;
    font-weight: 900;
    color: white;
}


.third-image {
    background-image: url('./Image/hero-06.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 14rem 0rem;
    border-radius: 5px;
    position: relative;
}

.third-image>* {
    position: relative;
    z-index: 2;
}

.third-image::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32);
}




.image-position {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    padding: 9rem 0rem;
}







.input-style form div input {
    background-color: rgba(255, 255, 255, 0.05);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    border-style: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

.input-style form div input::placeholder {

    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}


.input-style form div textarea {
    background-color: rgba(255, 255, 255, 0.05);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    border-style: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

.input-style form div textarea::placeholder {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}


.icon-style {

    color: white !important;
    transition: all 0.3s ease-in-out;
}

.icon-style:hover {
    color: aqua !important;
    transform: scale(1.2) !important;
    transition: all 0.3s ease-in-out;
}














@media screen and (max-width:992px) {
    .head-title {
        display: block;
    }

    .center-image {
        display: none !important;
    }

    .font-style {
        font-size: 100px !important;
    }
}

@media screen and (max-width:768px) {

    .font-style {
        font-size: 60px !important;
    }
}

@media screen and (max-width:537px) {
    .font-size {
        font-size: 40px !important;
    }

    .menu-style {
        flex-wrap: wrap !important;
        justify-content: center !important;
        text-align: center !important;
    }
}

@media screen and (max-width:362px) {
    .font-style {
        font-size: 30px !important;
    }

    .hero-btn {
        padding: 0.5rem 2rem;
        background-color: transparent;
        color: #fff;
        font-weight: 600;
        border-style: none;
        border: 1px solid #fff;
        border-radius: 25px;
        transition: all 0.3s ease-in-out;
    }

    .font-size {
        font-size: 30px !important;
    }
}

@media screen and (max-width:210px) {
    .font-size {
        font-size: 20px !important;
    }

    .hero-btn {
        padding: 0.4rem 0.5rem;
        background-color: transparent;
        color: #fff;
        font-weight: 600;
        border-style: none;
        border: 1px solid #fff;
        border-radius: 25px;
        transition: all 0.3s ease-in-out;
    }
}