<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./HomeStyle.css">
    <link rel="stylesheet" href="./assest/Bootstrap/css/style.css">
    <script src="./assest/Bootstrap/js/Script.js" defer></script>
</head>

<body>
    <section class="first-section">
        <div class="container">
            <nav class="navbar navbar-expand-lg py-3">
                <div class="container-fluid d-flex align-items-center ju">
                    <a class="navbar-brand" href="#"><img class="img-fluid" src="./Image/logo-001.svg" alt="Image"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto ">
                            <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page" href="#">Contact</a>
                            </li>

                        </ul>

                        <button class="btn px-5 py-3 bg-light" type="submit">Book Now</button>

                    </div>
                </div>
            </nav>

        </div>

        <div class="container">
            <div class="row py-5">
                <div class="col-lg-9 text-white">
                    <h4>Welcome to Dr. Smith's Dental Care</h4>
                    <h1 class="fw-bold" style="font-size: 50px;">Dr. Smith's Dental Care – Where Your Smile Takes Center
                        Stage!</h1>
                    <p>Experience personalized and compassionate dental care with Dr. Smith and our dedicated team!</p>
                    <div class="pt-5">
                        <button class="btn border bg-transparent text-white">Book Consultation</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="second-section position-relative">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 py-5">
                    <div style="padding: 6rem;"></div>
                </div>
                <div class="col-lg-6 py-5 bg-white">
                    <div style="padding: 6rem;"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid position-absolute top-0 start-0 w-100 h-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 m-0 p-0">
                        <div class="bg-white shadow-lg rounded-3 p-5">
                            <h3>About</h3>
                            <h1>Dr. Smith, a distinguished dentist...</h1>
                            <p>Dr. Smith completed her dental education with honors, specializing in specific areas of
                                focus. Her dedication to staying updated with the latest in dentistry ensures that you
                                receive the highest standard of care. Beyond technical proficiency, Dr. Smith’s warm and
                                approachable demeanor establishes a welcoming atmosphere, making each visit a positive
                                and
                                personalized experience.
                            </p>
                            <div class="mb-0 pb-0" style="padding-top: 10rem;">
                                <button class="btn px-5 py-3 btn-success text-black fw-bold text-uppercase">Read
                                    More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image-relative">
                            <div class=" image-position shadow-lg">
                                <img class="img-fluid rounded-3" src="./Image/about-0001.jpg" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="third-section" style="padding: 23rem 0rem 1rem 0rem;">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-6 py-2">
                    <div class="p-3 box-style">
                        <h4 class="pt-2">Services</h4>
                        <h1 style="font-size: 50px; padding: 1rem 0rem 4.3rem 0rem;">Our diverse range of services</h1>
                    </div>
                </div>
                <div class="col-lg-3 py-2">
                    <div class="p-3 box-style">
                        <span class="text-success fw-bold">01</span>
                        <h4 class="text-wrap py-3">Comprehensive Dental Exams</h4>
                        <p class="text-wrap">Ensure the longevity of your smile with our thorough dental exams. Our team
                            is dedicated to
                            detecting and preventing issues early.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 py-2">
                    <div class="p-3 box-style">
                        <span class="text-success fw-bold">02</span>
                        <h4 class="text-wrap py-3">Cosmetic Dentistry for a Radiant Smile</h4>
                        <p class="text-wrap">Ensure the longevity of your smile with our thorough dental exams. Our team
                            is dedicated to detecting and preventing issues early.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 py-2">
                    <div class="p-3 box-style">
                        <span class="text-success fw-bold">03</span>
                        <h4 class="text-wrap py-3">Precision Restorative Dentistry</h4>
                        <p class="text-wrap">Our precise and customized treatments, including fillings and crowns, are
                            designed to strengthen your teeth, ensuring both functionality and aesthetics.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 py-2">
                    <div class="p-3 box-style">
                        <span class="text-success fw-bold">04</span>
                        <h4 class="text-wrap pt-3 pb-2">Orthodontic Solutions for a Straighter Smile</h4>
                        <p class="text-wrap">From traditional braces to modern clear aligners, we offer personalized
                            solutions to straighten your teeth, and boost your overall oral health.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 py-2">
                    <div class="p-3 box-style">
                        <span class="text-success fw-bold">05</span>
                        <h4 class="text-wrap py-3">Paediatric Dentistry for Growing Smiles</h4>
                        <p class="text-wrap">Nurture your child’s oral health with our specialized services. Our team
                            creates a kid-friendly environment, making dental visits enjoyable and stress-free for young
                            patients.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 py-2">
                    <div class="p-3 box-style">
                        <span class="text-success fw-bold">06</span>
                        <h4 class="text-wrap py-4">Dental Implants for Lasting Solutions</h4>
                        <p class="text-wrap">Dr. Smith specializes in providing durable and natural-looking implants,
                            ensuring a long-lasting solution for missing teeth.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-8 border-top">
                    <div class="text-white py-5">
                        <h4 style="color: #55afaf;">Ensure the longevity of your smile with our thorough dental exams.
                            Our team is dedicated to
                            detecting and preventing issues early.
                        </h4>
                        <div class="py-3">
                            <button class=" bnt border-0 px-4 py-2 rounded-3 fw-bold">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fourth-section">

    </section>
</body>

</html>