<section class="second-section bg-white py-5">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-6 shadow-lg ">
                <div class=" p-5">
                    <h3>About</h3>
                    <h1>Dr. Smith, a distinguished dentist...</h1>
                    <p>Dr. Smith completed her dental education with honors, specializing in specific areas of
                        focus. Her dedication to staying updated with the latest in dentistry ensures that you
                        receive the highest standard of care. Beyond technical proficiency, Dr. Smith’s warm and
                        approachable demeanor establishes a welcoming atmosphere, making each visit a positive and
                        personalized experience.
                    </p>
                    <div class="mb-0 pb-0" style="padding-top: 10rem;">
                        <button class="btn px-5 py-3 btn-success text-black fw-bold text-uppercase">Read
                            More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-relative">
                    <div class=" image-position shadow-lg">
                        <img class="img-fluid" src="./Image/about-0001.jpg" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=""></section>