<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./assest/Bootstrap/css/style.css">
    <script src="./assest/Bootstrap/js/Script.js" defer></script>
</head>

<body style="background-color: #000;">

    <div class="container">
        <section class="first-section">
            <!-- <div class="container-fluid"> -->
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid py-3 ">

                    <!-- <a href="#"> <img class="img-fluid " src="./Image/event-logo-normal.svg" alt="Image..."></a> -->
                    <h1 class="heading-size">Event Name</h1>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-0 mb-lg-0 align-items-center nav-style1">
                            <li class="nav-item px-2">
                                <a class="nav-link active nav-text-color" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link active nav-text-color" aria-current="page" href="#">About Event</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link active nav-text-color" aria-current="page" href="#">Schedule</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link active nav-text-color" aria-current="page" href="#">Speaker</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link active nav-text-color" aria-current="page" href="#">Organisers</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link active nav-text-color" aria-current="page" href="#">Sponsors</a>
                            </li>

                            <button class=" border-0 px-5 py-3 btn-hover fw-semibold">Get
                                Tickets</button>

                        </ul>

                    </div>

                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center nav-style2">
                        <li class="nav-item px-3 border-style">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item px-3 border-style">
                            <a class="nav-link active " aria-current="page" href="#">About Event</a>
                        </li>
                        <li class="nav-item px-3 border-style">
                            <a class="nav-link active " aria-current="page" href="#">Schedule</a>
                        </li>
                        <li class="nav-item px-3 border-style">
                            <a class="nav-link active " aria-current="page" href="#">Speaker</a>
                        </li>
                        <li class="nav-item px-3 border-style">
                            <a class="nav-link active " aria-current="page" href="#">Organisers</a>
                        </li>
                        <li class="nav-item px-3 border-style">
                            <a class="nav-link active " aria-current="page" href="#">Sponsors</a>
                        </li>
                        <div class="border-style">
                            <button class="btn border-0 px-5 py-3 bg-primary text-white fw-semibold">Get
                                Tickets</button>
                        </div>

                    </ul>

                </div>
            </nav>
            <!-- </div> -->
            <div class="container-fluid">
                <div class="row" style="padding-top: 5rem;">
                    <div class="col-lg-6 pt-5">
                        <div class="d-flex flex-column align-bottom">
                            <h1 class="text-white heading-size">Design & Experience</h1>
                            <p class="fs-4">The Challenges of Web Innovation</p>
                        </div>
                    </div>
                    <div class="col-lg-6 pt-5">
                        <div class="text-end">
                            <p class=" fs-5">29 December 2025</p>
                            <p class="mb-0 fs-5">500 Terry Francois Street San</p>
                            <p class="mt-0 fs-5">Francisco, CA 94158</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fliud">
                <div class="row">
                    <div class="col">
                        <img class="img-fluid" src="./Image/event-img.jpg" alt="Event image">
                    </div>
                </div>
            </div>
        </section>

        <section class="second-section">
            <div class="container-fluid">
                <div class="row text-white justify-content-between" style="padding: 7rem 0rem;">
                    <div class="col-lg-6">
                        <div>
                            <h1 class="heading-size">About the Event</h1>
                            <p class="fw-semibold">Are your designs the best? You may. But a design is the best only
                                when it matches your
                                client’s needs and brings more customers. Let us work on this together.
                            </p>
                            <p>Like every once in a while we need to upgrade a technology to match with the latest
                                trend, so is it with design. It is important to study and understand the client’s needs
                                and merge it with the latest design trend that’ll help attract more customers.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="py-5">
                            <p class="pt-5">In this special seminar, we’ll understand the changes observed in client
                                requirements and
                                some realistic designs that work.
                            </p>
                            <button class=" btn-hover">Reserve My Spot</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <section class="third-section-fluid" style="background-color: rgba(206, 197, 197, 0.13); padding: 5rem 0rem;">
        <div class="container">
            <div class="row text-white">
                <div class="col-lg-6">
                    <h1 class="heading-size">Event Schedule</h1>
                </div>
                <div class="col-lg-6">
                    <p>This isn’t another day-long session repeating the things we know. We’ve designed and framed
                        them
                        well, so every minute introduces a new concept and a different point of view to adopt.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-3 py-3">
                    <div class="text-white p-2 box-hover">
                        <span class="text-primary fw-semibold">08:45 AM</span>
                        <h2 class="py-2">Introduction & Opening</h2>
                        <p class="pt-3">Speaker: James Scott</p>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
                    <div class="text-white p-2 box-hover">
                        <span class="text-primary fw-semibold">09:00 AM</span>
                        <h2 class="py-2">Current Design Strategies</h2>
                        <p class="pt-3">Speaker: Jane Roberts</p>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
                    <div class="text-white p-2 box-hover">
                        <span class="text-primary fw-semibold">10:30 AM</span>
                        <h2 class="py-2">Future of Design & Web</h2>
                        <p class="pt-3">Speaker: Hank Freeman</p>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
                    <div class="text-white p-2 box-hover">
                        <span class="text-primary fw-semibold">12:30 PM</span>
                        <h2 class="py-2">Lunch Time</h2>
                        <p class="pt-3">Lunch Time</p>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
                    <div class="text-white p-2 box-hover">
                        <span class="text-primary fw-semibold">01:30 PM</span>
                        <h2 class="py-2">Client and User Experience</h2>
                        <p class="pt-3">Speaker: Robert Reid</p>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
                    <div class="text-white p-2 box-hover">
                        <span class="text-primary fw-semibold">02:30 PM</span>
                        <h2 class="py-2">AI & Web Design</h2>
                        <p class="pt-3">Speaker: Alex Keller</p>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
                    <div class="text-white p-2 box-hover">
                        <span class="text-primary fw-semibold">03:30 PM</span>
                        <h2 class="py-2">Design Flow</h2>
                        <p class="pt-3">Speaker: Tina Flores</p>
                    </div>
                </div>
                <div class="col-lg-3 py-3">
                    <div class="text-white p-2 box-hover">
                        <span class="text-primary fw-semibold">05:00 PM</span>
                        <h2 class="py-2">Conclusion & QA Session</h2>
                        <p class="pt-3">Speaker: Mia Brownn</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fourth-section" style="padding: 7.5rem 0rem;">
        <div class="container">
            <div class="row text-white">
                <div class="col-lg-6">
                    <h1 class="heading-size">Meet the Speakers</h1>
                </div>
                <div class="col-lg-6">
                    <div>
                        <p>Our bench of speakers includes some well-established and successful designers who are known
                            to be ruling the industry for years. Join the seminar and take a step closer to being an
                            expert.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row py-5 text-white">
                <div class="col-lg-3">
                    <div class="box-hover rounded-3">
                        <div class="overflow-hidden overlay rounded-3">
                            <img class="img-fluid image-zoom " src="./Image/event-speaker-1.jpg" alt="Event Man">
                        </div>
                        <div>
                            <h4 class="py-3 ps-2">Jane Roberts</h4>
                            <p class="pb-4 ps-2">Sr. Creative Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="box-hover rounded-3">
                        <div class="overflow-hidden overlay rounded-3">
                            <img class="img-fluid rounded-3 image-zoom" src="./Image/event-speaker-2-1.jpg"
                                alt="Event Man">
                        </div>
                        <h4 class="py-3 ps-2">Hank Freeman</h4>
                        <p class="pb-4 ps-2">Web Developer</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="box-hover rounded-3">
                        <div class="overflow-hidden overlay rounded-3">
                            <img class="img-fluid rounded-3 image-zoom" src="./Image/event-speaker-3-1.jpg"
                                alt="Event Man">
                        </div>
                        <h4 class="py-3 ps-2">Tina Flores</h4>
                        <p class="pb-4 ps-2">UX Designer</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="box-hover rounded-3">
                        <div class="overflow-hidden overlay rounded-3">
                            <img class="img-fluid rounded-3 image-zoom" src="./Image/event-speaker-4.jpg"
                                alt="Event Man">
                        </div>
                        <h4 class="py-3 ps-2">James Scott</h4>
                        <p class="pb-4 ps-2">UX Analyst</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fifth-section" style="background-color: rgba(206, 197, 197, 0.13); padding: 5rem 0rem;">
        <div class="container">
            <div class="row text-white">
                <div class="col-lg-6">
                    <div class="p-3">
                        <img class="img-fluid box-hover rounded-1" src="./Image/organisers.jpg" alt="Image....">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="py-5">
                        <h1 class="heading-size py-2">About the Organisers</h1>
                        <p class="py-2">We are team Creatives. Having organized over 60+ seminars in 12 different cities
                            in just two
                            years, we understand the latest trends to pick the right topic for our seminars. We have
                            partnered several experts who’ve readily agreed to contribute to this good cause of sharing
                            knowledge with passionate professionals.</p>
                        <p class="py-2">Join this seminar and get a chance to meet us and join our team.</p>
                        <button class=" btn-hover">Reserve Your Spot Now!</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="six-section" style="padding: 7rem 0rem;">
        <div class="container">
            <div class="row justify-content-center text-white">
                <div class="col-lg-6">
                    <h1 class="heading-size py-3">Our Sponsors</h1>
                    <p>It is not possible to host several seminars in different locations without helping hands. We have
                        several sponsors who volunteer to help us physically and financially to make things happen.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="seven-section" style="background-color: #fff; padding: 3rem 0rem;">

        <div class="container">
            <div class="row">
                <div class="col ">
                    <div class="">
                        <img class="img-fluid logo-style" src="./Image/logo-1.svg" alt="Image">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img class="img-fluid logo-style" src="./Image/logo-2.svg" alt="Image">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img class="img-fluid logo-style" src="./Image/logo-3.svg" alt="Image">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img class="img-fluid logo-style" src="./Image/logo-4.svg" alt="Image">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img class="img-fluid logo-style" src="./Image/logo-5.svg" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="eight-section" style="padding: 5rem 0rem;">
        <div class="container">
            <h1 class="heading-size">Design & Experience</h1>
        </div>
        <div class="container">
            <div class="row py-5 text-white">
                <div class="col-lg-5">
                    <h1 class="fs-3 py-3">About this Event</h1>
                    <p>Join us on 4th of April while we open new prospects of trending designs and client requirements.
                    </p>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-4">
                            <h1 class="fs-3 py-3">Address</h1>
                            <p>500 Terry Francois Street San Francisco, CA 94158</p>
                        </div>
                        <div class="col-lg-4">
                            <h1 class="fs-3 py-3">Date & Time</h1>
                            <span class="d-sm-inline">04 April 2023</span>
                            <span>9:00 AM – 3:00 PM</span>
                        </div>
                        <div class="col-lg-4">
                            <div class="pt-5 ps-4">
                                <button class="btn-hover ">Get Tickets</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="nine-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <iframe class=" rounded-3"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.109504827222!2d81.02318307450324!3d26.86826176200111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399be370a35ae057%3A0xfcdb26b5b1764533!2sBarrownz%20Learning%20Academy!5e0!3m2!1sen!2sin!4v1767012917137!5m2!1sen!2sin"
                        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <p class="text-center py-4 text-white">Copyright © 2025 Event Landing Page | Powered By Event Landing
                Page</p>
        </div>
    </section>

</body>

</html>