<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilson Brock</title>
    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="./assest/Bootstrap/css/style.css">
    <script src="./assest/Bootstrap/js/Script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="first-section" style="background-color: #111111;">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                    <img src="./Home-Image/imgi_1_White-Logo.svg" alt="Image">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link active text-white px-3" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white px-3 " aria-current="page" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white px-3 " aria-current="page" href="#">Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white px-3 " aria-current="page" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white px-3 " aria-current="page" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white px-3 " aria-current="page" href="#">
                                    <button
                                        class="border-2 py-2 px-4 rounded-5 bg-transparent text-white border-white">Contact
                                        Me</button>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row pt-5">
                <div class="col-lg-4">
                    <div class=" border text-center">
                        <p><i class=" text-success fa-solid fa-circle"></i>
                            <span class="text-white">Available for Work</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>